$primary-font-color: #222027;
$secondary-font-color: lighten($primary-font-color, 25%); // #606f7b;
$tertiary-font-color: lighten($primary-font-color, 40%); //#8795a1;
$box-shadow-color: lighten($primary-font-color, 70%); //#dae1e2;
$button-blue: #851b83;
$char-card-width: 200px;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

* {
  box-sizing: border-box;
  font-family: "Ubuntu Light", "Century Gothic", sans-serif;
  margin: 0;
  padding: 0;
  // color: #393939;
  background-color: #fff;
}

body {
  padding-top: 10px;
}

.outerBox {
  max-width: 650px;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 10px 15px 39px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.innerbox {
  padding: 10px;
  width: 95%;
  margin: 15px auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.displayBox {
  overflow: auto;
  padding-top: 10px;
}

.LinkRecordBox {
  padding: 5px;
  width: 30%;
  margin: 5px 5px 13px 10px;
  float: left;
  font-size: 0.8em;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

#header {
  text-align: center;
  letter-spacing: 0.2em;
  margin-bottom: 10px;
}

#totals {
  line-height: 1.5em;
}

input {
  margin: 10px;
}

label {
  font-weight: bold;
}

button {
  padding: 3px;
  margin: 3px;
}

link-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icon {
  display: flex;
  justify-self: center;
  border-color: black;
  height: 10px;
  width: 10px;
  margin-right: 0.5em;
}

.link-text {
  text-decoration-line: underline;
  color: purple;
  margin-right: 1em;
}

.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #ffffff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

._modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  line-height: 1;
  background: #f6f6f7;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
}

._modal-close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2;
}

.modal-body {
  padding-top: 0.25em;
}
._hide-visual {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.scroll-lock {
  overflow: hidden;
  margin-right: 17px;
}

.up-vote {
  display: inline-block;
  margin-left: 0.1em;
  margin-right: 0.1em;
  cursor: pointer;
  color: #687074;
}

.down-vote {
  display: inline-block;
  padding-left: 0.1em;
  padding-right: 0.1em;
  margin-right: 0.1em;
  cursor: pointer;
  color: #687074;
}

.up-vote.on {
  color: rgb(6, 171, 6);
}

.down-vote.on {
  color: rgb(237, 68, 68);
}

.warning-text {
  font-size: 0.75em;
  color: red;
  padding-left: 1em;
  padding-right: 1em;
}

.total-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5em;
  justify-content: center;
}

.BtnOptions {
  display: flex;

  flex-direction: column;
  align-items: center;
  // margin: 1em;
  // font-family: "Cabin", sans-serif;
  justify-content: center;

  // flex-wrap: wrap;
  // -webkit-font-smoothing: antialiased;
  // text-rendering: optimizeLegibility;

  .primaryButton {
    // height: 3em;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: $button-blue;
    color: white;
    padding: 0.25em;
    // border: none;
    width: calc($char-card-width / 2);
  }

  .secondaryButton {
    // height: 2em;
    padding: 0.25em;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: white;
    color: lighten($button-blue, 10%);
    border-color: lighten($button-blue, 10%);
    padding-left: 1em;
    padding-right: 1em;
    width: calc($char-card-width / 2);
  }
}

.SearchBtnOptions {
  display: flex;

  flex-direction: row;
  align-items: center;
  // margin: 1em;
  // font-family: "Cabin", sans-serif;
  justify-content: center;

  // flex-wrap: wrap;
  // -webkit-font-smoothing: antialiased;
  // text-rendering: optimizeLegibility;

  .primaryButton {
    // height: 3em;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: $button-blue;
    color: white;
    padding: 0.25em;
    // border: none;
    width: calc($char-card-width / 2);
  }

  .secondaryButton {
    // height: 2em;
    padding: 0.25em;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: white;
    color: lighten($button-blue, 10%);
    border-color: lighten($button-blue, 10%);
    padding-left: 1em;
    padding-right: 1em;
    width: calc($char-card-width / 2);
  }
}

.form-group {
  margin-left: 35%;
}
